a{
    color: #0b7d81;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 50px auto 0px auto;
    line-height: 2;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-top: 0px;
    color: #66BFBF;
    font-weight: 400px;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.top{
    
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    
}
 

/* .cloud-1{
    position: relative;
    left: 170px;
    bottom: 150px;
} */
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;

}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.Myimage{
    width: 200px;
    
}
.Code{
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;
}
.comp{
    width: 25%;
    float: right;
    margin-left: 30px;
    border-radius: 100%;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color:#66BFBF;
    padding: 20px;
}
.cSG{
    color: #EAF6F6;
    padding: 20px 0px ;
}
hr{
    background-color: white;
    border-color: #ccdbdb;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 4%;
    padding: 10;
    margin: 100px auto;
}
.intro{
    margin: auto;
    width: 30%;
}
p{
    line-height: 2;
}
.contact-message{
    margin: 40px auto 60px;
    width: 40%;    
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 200;
    padding: 20px;
    -webkit-box-shadow: 0 0 0 0 #000000;
    -moz-box-shadow: 0 0 0 0 #000000;
    box-shadow: 0 0 0 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FFFFFF 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 0;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }
 .pro{
     text-decoration: underline;
 }